.outer-div{
    border-width: 1px;
    align-items: center;
    max-width: 1100%;
    margin: 25px 25px 50px 25px;
    position: absolute;
    position: relative;
    border-radius: 20px;
    padding: 30px 45px 30px 45px;
    background-color: #FFE400;
    box-shadow: 0 0 10px rgb(105, 105, 105);
    -webkit-box-shadow: 0 0 20px rgb(105, 105, 105);
    -moz-box-shadow: 0 0 20px rgb(105, 105, 105);
}


.about-div-main{    
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    padding:  100px 100px 100px 100px;
    background-color: #272727;
}

.main-body{
    margin: auto;
    background-color: #272727;
}

.nikita_img{
    border-radius: 5%;
}

.about-div-main{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.box{
    color: #FFE400;
    font-family: 'Poppins', sans-serif;
    margin: 0px 50px 0px 20px ;
}

.about-title{
    color:#FFE400;
    font-weight: bold;
    font-size: 10mm;
}

#button-resume{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: #FF652F;
    color: #FF652F;
    background-color: #272727;
    width: 120px;
    height: 45px;
    font-family: 'Poppins', sans-serif; 
}

.p-about{
    color: #FFE400;
    margin-top: 25px;
    margin-bottom: 50px;
}

#button-contactme{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #14A76C;
    color: #14A76C;
    background-color: #272727;
    width: 120px;
    height: 45px;
    font-family: 'Poppins', sans-serif; 
}

.fa{
    margin-right: 10px;
}

.button-resume{
    margin-right: 25px;
}

