.outer-div{
    justify-content: center;
    align-items: center;
    max-width: 1100%;
    margin: 25px 25px 50px 25px;
    position: absolute;
    position: relative;
    border-radius: 20px;
    padding: 30px 45px 30px 45px;
    background-color: #FFE400;
    box-shadow: 0 0 10px rgb(105, 105, 105);
    -webkit-box-shadow: 0 0 20px rgb(105, 105, 105);
    -moz-box-shadow: 0 0 20px rgb(105, 105, 105);
}

.about-div{
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    position: center;
    border-radius: 20px;
    padding:  25px 25px 25px 25px;
    background-color: #272727;
}


.main-body{
    background-color: #272727;
}


.box{
    padding: 50px;
    color: #747474;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    color: #747474;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 0px 0px ;
}

.about-me{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-size: 15px;
}

.basic-inf{
    width: 300px;
    padding-bottom: 30px;
    font-size: 15px;
}

.basic{
    width: 150px;
    padding-bottom: 30px;
    font-size: 15px;
}

.info-box{
    display: flex;
    flex-direction: row;
}

.box-basic-inf{
    color: #747474;
    padding-left: 50px;
    padding-right: 20px;
    color: #747474;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 0px 0px ;
}

 .form-part{
    /* opacity: 10%; */
    padding-top: 15px;
    padding-bottom: 15px;
 }

.input-area{
    border-width: 5px;
    color: #A9A9A9;
    font-size: 17.5px;
    text-align: left;
    border-radius: 10px;
    border-color: #FFE400;
    background-color: #272727;
    height: 35px;
    width: 400px;
}


.radio-buttons{
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #14A76C;
}

.rules{
    color: #A9A9A9;
    font-family: 'Poppins', sans-serif;
}

.rules-box{
    margin-top: 25px;
    margin-bottom: 20px;
}

.form-part-rules{
    margin-top: 10px;
    margin-bottom: 10px;
}


.option{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.thebutton{
    border-width: 5px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #FF652F;
    width: 270px;
    height: 50px;
    color: #FF652F;
    background-color: #272727;
}

.textarea_q_c{
    background-color: #272727;
    color: #A9A9A9;
    border-width: 5px;
    border-color: #FFE400;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 400px;
    height: 150px;
}


.input-area-hiring{ 
    border-width: 5px;
    color: #A9A9A9;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    border-color: #FFE400;
    background-color: #272727;
    height: 35px;
    width: 250px;
}


.link{
    color: #14A76C;
}



